<div class="content-block row">
  <div class="col mt-10">
    <h2 class="text-bold">Overview</h2>
  </div>
  <div class="col mt-20">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Tableau de bord </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">14 janvier 2024</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dakar,Sénégal</a>
      </li>
      
    </ul>
  </div>
    <!-- your-component.component.html -->
  
</div>

<div class="content-block">
  <div class="dx-card responsive-paddings">
  <div class="logos-container">
  
  
  </div>

  
</div>
</div>
